# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* List Data Science tools
* Create Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. NumPy
4. Matplotlib

| Data Science Tools |
|----------------------|
| Weka |
| Java-ML |
| Apache MLlib |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Humphrey Nwosu